* {
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
    margin: 0;
    background-color: bisque;
    display: flex;
    align-items: center;
    font-size: 3rem;
    flex-direction: column;
    color: white;
}

input{
    display: inline-block;
    width: 200px;
    text-align: center;
}

h2{
    user-select: none;
    margin:0px;
    color:rgb(193, 114, 17);
    text-align: center;
}
#difficulty{
    font-size: 1rem;
}
.timer{
    user-select: none;
    font-size: 2rem;
    background: rgb(251, 214, 147);
    border-radius: 20px;
    text-align:center;
    padding: 2px 10px 2px 10px;
    margin-bottom: 15px;
    color: black;
}

.flagText {
    user-select: none;
    color: black;
    padding: 4px 8px;
    text-align: center;
    background-color: rgb(251, 214, 147);;
    font-size: 1.2rem;
    border-radius: 20px;
    margin: 10px 0px 10px 0px;
}
.grid {
    display: inline-grid;
    padding: 20px;
    gap: 6px;
    border: 20px solid rgb(168, 99, 14);
    border-radius: 2%;
    background-color: rgb(255, 153, 29);
    grid-template-columns: repeat(var(--gs), 60px);
    grid-template-rows: repeat(var(--gs), 60px);
}
.grid > * {
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    user-select: none;
}
.grid > [data-status='hidden'] {
    background-color: rgb(193, 114, 17);
    cursor: pointer;
}
.grid > [data-status='mine'] {
    background-color: rgb(255, 128, 128);
}
.grid > [data-status='marked'] {
    background-color: rgb(255, 194, 80);
}
.grid > [data-status='number'] {
    background-color: rgb(251, 214, 147);
}




/* Oreo */
body[data-theme='oreo'] {
    background-color: rgb(3, 0, 90);
    color: black;
}
body[data-theme='oreo']
h2{

    color:white;
}

body[data-theme='oreo'] 
.grid {
background-color: white;
border: 20px solid rgb(27, 20, 12);
}

body[data-theme='oreo']
.flagText {
    background-color: rgb(206, 206, 206);
    color: black;
}

body[data-theme='oreo']
.timer{
    background: rgb(206, 206, 206);
    color: black;
}

body[data-theme='oreo'] 
.grid > [data-status='hidden'] {
    background-color: rgb(27, 20, 12);
}

body[data-theme='oreo'] 
.grid > [data-status='mine'] {
    background-color: rgb(255, 128, 128);
}

body[data-theme='oreo'] 
.grid > [data-status='marked'] {
    background-color: rgb(48, 36, 23);
}

body[data-theme='oreo'] 
.grid > [data-status='number'] {
    background-color: rgb(206, 206, 206);
}

#theme{
    margin: 25px 0px 25px 0px;
    border-radius: 20%;
    text-align: center;
    font-size: 50%;
    width: 30%;
}


/* Chocolate */
body[data-theme='chocolate'] {
    background-color: rgba(91, 50, 0, 0.678);
    color: white;
}
body[data-theme='chocolate']
h2{
    color:rgb(119, 65, 3);
}

body[data-theme='chocolate'] 
.grid {
background-color: rgb(63, 36, 6);
border: 20px solid rgb(52, 28, 0);

}

body[data-theme='chocolate']
.flagText {
    background-color: rgb(216, 124, 59);
    color: black;
}

body[data-theme='chocolate']
.timer{
    background: rgb(216, 124, 59);
    color: black;
}

body[data-theme='chocolate'] 
.grid > [data-status='hidden'] {
    background-color: rgb(119, 65, 3);
}

body[data-theme='chocolate'] 
.grid > [data-status='mine'] {
    background-color: rgb(255, 128, 128);
}

body[data-theme='chocolate'] 
.grid > [data-status='marked'] {
    background-color: rgb(213, 115, 44);
}

body[data-theme='chocolate'] 
.grid > [data-status='number'] {
    background-color: rgb(216, 124, 59);
}
